includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - src

    level: 5

    checkMissingIterableValueType: false

    ignoreErrors:
        - '#Undefined variable: \$this#'
        - '#Variable \$alternates might not be defined\.#'
